html{
  width:100%;
  overflow-x:hidden;
}
.head{
  width: 1800px;
  height: 200px;
  margin:0px auto;
  margin-top: 0.8%;
  padding-top: 0.1%;
  -webkit-border-radius: 30px; 
    -moz-border-radius: 30px;
    background: yellow;
    padding-bottom: 1%;
    border-radius: 10px;
  background: #BADA55;
  }
  .inter{
    position: relative;
    top:-150px;
    left: 1550px;
    letter-spacing:10px;
    font-family:cursive ;
    font-size: 20px;
    text-decoration:none;
  }
  .car{
    position: relative;
    top:-240px;
    left: 1680px;
  }
.MENU{
  width:1200px;
  height: 80px;
  background-color:;
  margin-right: auto;
  margin-left: auto;

}

ul{

  list-style-type: none;
  margin: 0;
  padding-left: 120px;  
  padding-top:  2px;
}

li{
  float: left;
  
  font-family:fantasy;
  font-size: 23px;
  font-weight: bold;
  line-height: 95px;
  }

li a{
  display: block;
  width: 310px;
  height: 90px;
  letter-spacing:10px;
  
  text-decoration: none;
  color: #000000;
  text-align: center;
}

li a:hover{
  background-color: #B6B8DE ;
  
   border-radius: 30px;
  color:#ffffff ;
}
.main{
  width: 1800px;
  height: 1000px;
  margin:0px auto;
  margin-top: 0.8%;
  padding-top: 0.1%;
  -webkit-border-radius: 30px; 
    -moz-border-radius: 30px;
    background: yellow;
    padding-bottom: 1%;
    border-radius: 10px;
  background: #BADA55;
  }
  .pic{
    
    position: relative;
    top:140px;
    left: 150px;
      
  }
  .pic:hover{
    
    position: relative;
    left: 175px;
    transform : scale(1.04);
  
  }
  .pic1{
    position: relative;
    top:-1280px;
    left: 750px
    
  }
  .pic1:hover{
    position: relative;
    left: 775px;
    transform : scale(1.04);
  }
   .pic2{
    position: relative;
    top:-1850px;
    left: 1350px
  }
  .pic2:hover{
    position: relative;
    left: 1365px;
    transform : scale(1.04);
  }



  h1.w1{
    letter-spacing:10px;
    position: relative;
    top:150px;
    left: 255px;
    font-family:cursive ;
    color: #F47B37;
    font-size: 7;

  }

  h1.w1:hover {
    position: relative;
    left: 430px;
    opacity :10;
    transform : scale(1.2);
    transform:rorate(25deg);
  }
  h1.c1{
    letter-spacing:10px;
    position: relative;
    top:160px;
    left: 255px;
    font-family:cursive ;
    color: #FD3D00;
    font-size: 7;

  }
  h1.c1:hover {
    position: relative;
    left: 430px;
    opacity :10;
    transform : scale(1.2);
      
  }
 .b1 {
  border: 2px solid rgba(0,0,0,0.5);
  transition: all 0.5s linear;
  border: 2px solid #ffffff;
  background-color: #E1A06E ;
  color: white;
  font-family:cursive ;
  width:200px;
  height:60px;
  font-size:30px;
  }
  .b1:hover {
  border: 2px solid rgba(0,0,0,0.5);
  transition: all 0.5s linear;
  border: 2px solid #ffffff;
  width:210px;
  height:70px;
  font-size:30px;
  border-radius: 10px;  
  }
   h1.w2{
    letter-spacing:10px;
    position: relative;
    top:-1270px;
    left: 870px;
    font-family:cursive ;
    color: #F47B37;
    font-size: 7;

  }

  h1.w2:hover {
    position: relative;
    left: 1045px;
    opacity :10;
    transform : scale(1.2);
    transform:rorate(25deg);
  }
  h1.c2{
    letter-spacing:10px;
    position: relative;
    top:-1260px;
    left: 870px;
    font-family:cursive ;
    color: #FD3D00;
    font-size: 7;

  }
  h1.c2:hover {
    position: relative;
    left: 1045px;
    opacity :10;
    transform : scale(1.2);
      
  }
 .b2 {
  border: 2px solid rgba(0,0,0,0.5);
  transition: all 0.5s linear;
  border: 2px solid #ffffff;
  background-color: #E1A06E ;
  color: white;
  font-family:cursive ;
  width:200px;
  height:60px;
  font-size:30px;
  }
  .b2:hover {
  border: 2px solid rgba(0,0,0,0.5);
  transition: all 0.5s linear;
  border: 2px solid #ffffff;
  width:210px;
  height:70px;
  font-size:30px;
  border-radius: 10px;  
  }
   h1.w3{
    letter-spacing:10px;
    position: relative;
    top:-1828px;
    left: 1480px;
    font-family:cursive ;
    color: #F47B37;
    font-size: 7;

  }

  h1.w3:hover {
    position: relative;
    left: 1655px;
    opacity :10;
    transform : scale(1.2);
    transform:rorate(25deg);
  }
  h1.c3{
    letter-spacing:10px;
    position: relative;
    top:-1828px;
    left: 1485px;
    font-family:cursive ;
    color: #FD3D00;
    font-size: 7;

  }
  h1.c3:hover {
    position: relative;
    left: 1660px;
    opacity :10;
    transform : scale(1.2);
      
  }
 .b3 {
  border: 2px solid rgba(0,0,0,0.5);
  transition: all 0.5s linear;
  border: 2px solid #ffffff;
  background-color: #E1A06E ;
  color: white;
  font-family:cursive ;
  width:200px;
  height:60px;
  font-size:30px;
  }
  .b3:hover {
  border: 2px solid rgba(0,0,0,0.5);
  transition: all 0.5s linear;
  border: 2px solid #ffffff;
  width:210px;
  height:70px;
  font-size:30px;
  border-radius: 10px;  
  }


 p.smallw  {
  font-size:23px; 
  letter-spacing:10px;
  padding: 10px;
  text-align: center;
  font-family:cursive ;
  position: relative;
  top:50px;
 }
p.smallw:hover  {
 
  transition: all 0.5s linear;
  width:1800px;
  height:70px;
  font-size:30px;
  letter-spacing:10px;
  padding: 10px;
  text-align: center;
  font-family:cursive ;
  position: relative;
  top:50px;
  left: 25px;
 }
 input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}       
      
   